.contact {
  width: 100vw;
  height: 100vh;
  padding-top: 100px;
}

form {
  margin-top: 50px;
  width: 300px;
  margin: auto;
}

.form-group {
  position: relative;
  margin: 40px auto;
}

.form-group:focus-within div {
  transition: 0.7s;
  top: -20px;
}

.form-group:visited div {
  transition: 0.7s;
  top: -20px;
}

.label {
  transition: 0.5s;
  position: absolute;
  left: 0px;
  top: 0px;
}

.form-control {
  padding: 5px 0px;
  width: 100%;
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: solid 2px rgb(199, 199, 199);
}

.submitBtn {
  margin: auto;
  width: 100%;
}
