.loadProject {
  margin: 10px;
}

.loadProject__card {
  overflow: hidden;
  position: relative;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  width: 320px;
  height: 230px;
  margin: auto;
  border-radius: 20px;
  transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.404);
}

.loadProject__card img {
  z-index: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

.loadProject__card:hover img {
  transition: 0.5s;
  /* filter: grayscale(1); */
  filter: saturate(2);
}

.card__header {
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: space-between;
}

.card__nav {
  display: flex;
  list-style-type: none;
}

.card__nav li:nth-child(n) {
  width: 15px;
  height: 15px;
  margin: auto 2px;
  border-radius: 50%;
}

.card__nav li:nth-child(1) {
  background-color: rgb(202, 202, 202);
}

.card__nav li:nth-child(2) {
  background-color: rgb(255, 196, 0);
}

.card__nav li:nth-child(3) {
  background-color: rgb(255, 0, 0);
}

.description {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: -10px;
  opacity: 0;
  margin: auto;
}

.loadProject__card:hover {
  transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.315);
}

.loadProject__card:hover .description {
  transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
  opacity: 1;
  bottom: 10px;
}

.techUser {
  margin: auto;
  margin-left: -25px;
  margin-bottom: 30px;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}

.techUser li {
  margin: 0;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.377);
  padding: 5px 10px;
}

/* interaction */
.square:hover {
  transition: none;
}
