.portfolio {
  padding-top: 50px;
  width: 100vw;
  height: 600px;
  text-align: center;
  overflow-y: scroll;
  overflow-x: hidden;
}

.portfolio::-webkit-scrollbar {
  opacity: 0;
  width: 0;
}

.portfolio h1 {
  font-size: 6vh;
  margin: 20px;
}

.portfolioDescription {
  width: 100%;
  font-size: 2vh;
  margin: auto;
  margin-left: -20px;
}

.Projectscontainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin: 100px auto;
  width: 80%;
}

.Projectscontainer > div {
  flex: 0 50%;
}
